<div id="<%= dom_id list_item %>">
  <p>
    <strong>First Name:</strong>
    <%= list_item.first_name %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= list_item.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= list_item.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= list_item.phone %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= list_item.class_name %>
  </p>

</div>
